@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Bebas');

@font-face {
  font-family: 'Conv_AkzidenzGrotesk-BoldCond';
  src: url('../../fonts/AkzidenzGrotesk-BoldCond.eot');
  src: local('☺'), url('../../fonts/AkzidenzGrotesk-BoldCond.woff') format('woff'), url('../../fonts/AkzidenzGrotesk-BoldCond.ttf') format('truetype'), url('../../fonts/AkzidenzGrotesk-BoldCond.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: PT+Sans
}

header {
  padding: 29px 0 33px 0;
}


.wrapper {
  max-width: 870px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top_lang {
  display: flex;
}

.header-top-lang_item {
  display: block;
  line-height: 19px;
  color: #000;
  font-size: 10px;
  text-transform: uppercase;
  font-family: Bebas;
  letter-spacing: 1px;
  padding: 0 4px;
  margin: 0 4px 0 0;

  &.active {
    background-color: #000;
    color: #fff;
  }
}

.header-top_link {
  font-family: "Conv_AkzidenzGrotesk-BoldCond";
  color: #000000;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

.header-bottom {
  margin: -10px 0 0 0;
  display: flex;
  align-items: center;
}

.header-bottom_column {
  flex: 0 0 33.333%
}

.header-bottom-menu_list {
  display: flex;
  justify-content: space-between;

  li {
  }
}

.header-bottom-menu_link {
  color: #000000;
  font-family: "Conv_AkzidenzGrotesk-BoldCond";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.header-logo {
  display: block;
  text-align: center;
}

.header-logo_text {
  display: block;
  color: #000000;
  font-family: Bebas, serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.header-logo_image {
  display: inline-block;
  margin: 5px 0 10px 30px;
}

.content {
  max-width: 1366px;
  margin: 0 auto;
}

.private {
  display: flex;
  background-color: #000;
  max-height: 425px;
  margin: 0 0 75px 0;
}

.private_column1 {
  flex: 0 0 50%;
}

.private_image {
  height: 100%;
}

.private_column2 {
  padding: 75px 0 75px 60px;
}

.private-body_title {
  font-family: "Conv_AkzidenzGrotesk-BoldCond";
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 30px 0;
}

.private-body_text {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 50px 0
}

.private-body_buttons {
  display: flex;
  align-items: center;
}

.private-body-buttons_item {
  color: #fffffe;
  font-family: Bebas;
  font-size: 15px;
  line-height: 25px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0 0 0 30px;
}

.private-body-buttons_item-btn {
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: Bebas;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
}

.products {
  max-width: 870px;
  margin: 0 auto;
}

.products_body {
  display: flex;
}

.products_column {
  flex: 0 0 25%;
  margin: 0 0 80px 0;
}

.products-item_image {
  display: block;
  margin: 0 0 25px 0;
}

.products-item_title {
  display: block;
  font-family: "Conv_AkzidenzGrotesk-BoldCond";
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000;
  font-size: 25px;
  margin: 0 0 30px 0;
  max-width: 175px;
}

.products-item_text {
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 25px 0;
  max-width: 175px;
}

.products-item_btn {
  height: 50px;
  line-height: 50px;
  background-color: #000;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: Bebas;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin: 0 0 25px 0;
}

.products-item_link {
  color: #000;
  font-family: Bebas;
  font-size: 15px;
  line-height: 25px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.why-top {
  display: flex;
  background-color: #000;
  max-width: 1366px;
  margin: 0 auto;

  &_column {
    flex: 0 0 50%;
  }
}

.why-top_text {
  color: #ffffff;
  text-align: right;
  font-family: "Conv_AkzidenzGrotesk-BoldCond";
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 45px 60px 44px 0;
}

.why-top_image {
  height: 100%;

  img {
    width: 100%;
  }
}

.why-body {
  display: flex;
  background-color: #ebebeb;
  max-width: 1366px;
  margin: 0 auto;
}

.why-body_row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
  max-width: 870px;
  margin: 0 auto;
}

.why-body_column {
  display: flex;
  flex: 0 0 50%;
  margin: 0 0 50px 0;
}

.why-body-item {
  display: flex;
}

.why-body-item_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #000;
}

.why-body-item-body {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 11px;
}

.why-body-item-body_title {
  flex: 1 1 auto;
  font-family: "Conv_AkzidenzGrotesk-BoldCond";
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 25px;
}

.why-body-item-body_text {
  font-size: 15px;
  padding: 0 15px 0 0;
  line-height: 25px;
}

.contacts {
  padding: 80px 0 0 0;
}

.contacts-top {
  max-width: 870px;
  margin: 0 auto;
}

.contacts_title {
  font-family: "Conv_AkzidenzGrotesk-BoldCond";
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 50px;
  margin: 0 0 30px 0;
}

.contacts-body {
  display: flex;
  flex-wrap: wrap;
}

.contacts-body_column {
  flex: 0 0 50%;
  margin: 0 0 30px 0;
}

.contacts-body_item {
  font-size: 15px;
  color: #000;
  display: inline-block;
  line-height: 27px;
}

.contacts-body_icon {
  margin: 0 20px 0 0;
}

.contacts-social_item-comtacts-social_item {
  margin: 0 30px 0 0;
}

.contacts-content {
  display: flex;
  background-color: #000;
  max-width: 1366px;
  margin: 0 auto;
}

.contacts-content_column {
  display: flex;
  flex: 0 0 50%;
}

.contacts-content_map {
  display: flex;
}

.contacts-map_img {
  width: 100%;

}

.contacts-content_form {
  padding: 55px 60px;
}

.contacts-content-form_title {
  font-family: "Conv_AkzidenzGrotesk-BoldCond";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  font-size: 25px;
  margin: 0 0 30px 0;
}

.contacts-content-form_body {
  max-width: 375px;
}

.input {
  font-family: "PT Sans";
  border-radius: 0;
  width: 100%;
  display: block;
  padding: 0 20px;
  height: 50px;
  border: 2px solid #959595;
  background-color: #252525;
  color: #959595;
  font-size: 15px;
  margin: 0 0 20px 0;
}

textarea.input {
  resize: none;
  height: 100px;
  padding: 10px 20px;
}

.private-body-buttons_item-btn {
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: Bebas;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  margin: 0 0 25px 0;
}

.container-footer {
  display: flex;
  background-color: #ebebeb;
  max-width: 1366px;
  margin: 0 auto;
}

.footer-body {
  display: flex;
  height: 125px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.footer-body_column {
  padding: 0 150px;
}